
#grid-container{
    display: grid;
    height: 100vh;
    margin-top: 5%;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows: auto auto auto auto;

}

#global-header{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    flex-direction: column;
    list-style:none; 
    grid-column: 1 / 4;
    grid-row: 1 / 2;
   
}



#global-header nav ul{
    display: flex;
    gap: 1rem;
    list-style:none;

    
   
   
}

#global-header nav ul li{
    display:inline-block;
    
    
}

#mansory-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    
   
}


.temaer{
    grid-column: 1 / 5;
    grid-row: 1 / 1;
}



main{
     grid-column: 2 / 3;
    grid-row: 2 / 3;
    
}

section{
    display: flex;
    align-items: start;
    align-content: start;
    justify-content: start; 
}



footer{
    grid-column: 1 / 4;
    grid-row: 4 / 4;
}



#natur, #science, #animal, #tech, #culture, #history, #geo, #food{
    padding:3rem;
    border-radius: 10px;
}

#natur{
     background-color: hsl(146, 52%, 72%);
     grid-column: 1 / 3;
     grid-row: 2 / 4;
     align-items: start;
     

    }
    
    #science{
        background-color:hsl(0, 0%, 100%);
        grid-column: 3 / 4;
        grid-row: 2 / 2;

    }
    #animal{
        background-color: hsl(337, 52%, 72%);
        grid-column:  4 / 5;
        grid-row: 2 / 2;

    }
    #tech{
        background-color: hsl(204, 52%, 72%);
        grid-column: 3 / 5;
        grid-row: 3 / 3;

    }
    #culture{
        background-color: hsl(271, 52%, 72%);
        grid-column: 1 / 2;
        grid-row: 4 / 4;

    }
    #history{
        background-color: hsl(8, 52%, 72%);
        grid-column: 2 / 3;
        grid-row: 4 / 4;
 
    }
    #geo{
        background-color: hsl(168, 52%, 72%);
        grid-column: 3 / 4;
        grid-row: 4 / 4;

    }
    #food{
        background-color: hsl(30, 52%, 72%);
        grid-column: 4 / 5;
        grid-row: 4 / 4;

    }

