:root{
    --basic-grey:#efefefef;
    --basic-red:#d30101;
}




body{
    font-family: arial;
    margin:0;
}

#global-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    nav{
        ul{
            padding:0;
            margin:0;
            li{
                list-style: none;
                display: inline-block;
            }
        }
    }
}


#mainlogo{
    font-size: 30px;
    font-family: arial;
    font-weight: 900;
    color: #673AB7;
    text-decoration: none
}

a{
    color:#000;
    text-decoration: none;  
}

/*hero-section*/
.deal-section{
    background-color:var(--basic-red);
    padding:1rem; 
}

article{
    margin: 1rem 0;
    border:1px solid #efefef; 
    max-width: 400px;
    width: 100%;
    min-width: 250px;
    padding: 1rem; 

    img{
        width: 100%;
    }

}

.btn{
    display: inline-block;
    background-color:#000;
    color: #fff;
    padding: 1rem; 
    border: none;
}

/*malen til å legge til en kommentar i arket*/