$primary-color: #1d1d1d;
$secondary-color: #1f5c8b;
$lightGrey: #ccc;

$errorBGcolor: #f8d7da; 
$errorTextColor: #721c24; 
$errorBorderColor: #f5c6cb; 

$warningBGcolor: #fff3cd; 
$warningTextColor: #856404;
$warningBorderColor: #ffeeba; 

$sucsessBGcolor: #d4edda; 
$sucsessTextColor: #155724;
$sucsessBorderColor: #c3e6cb; 
